body {
    background-color: rgb(43, 43, 43);
    color: white;
}
a {
    color: rgb(173, 216, 230);
}
a:hover {
    color: rgb(1, 216, 230);
}
nav {
    margin-top: 1%;
    margin-left: 42%;
    position: fixed;
    text-align: center;
    top: 0;
    background-color: rgb(43, 43, 43);
    width: 300px;
    
}
